# Diciembre 8

---

## Temario:
- Tipos de datos
- Operaciones Matematicas
- Operaciones con String
- operaciones Logicas
- Operaciones Booleanas

## Tipos de datos

In [ ]:
# Existen dos datos:
enteros = 4 # Numeros sin decimales
flotantes = 99.9 # Numeros con decimales
type(flotantes)

float

In [ ]:
# Caracteres / Strings
caracteres = "a"
cadena_caracteres = "todas las letras que quiera"
type(cadena_caracteres)

str

In [ ]:
# Booleanos
falso = False # Falso es 0
verdadero = True # Verdadero es 1
type(verdadero)

bool

In [ ]:
# Imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

4
99.9
a
Hola mundo
False
True

## El usuario tambien puede ingresar datos

In [ ]:
# Con la función input, el usuario puede ingresar cualquier tipo de datos que podemos guardar
name = input("Mi nombre es:") # se guarda como un string
print(name)

Mi nombre es:Adrián
Adrián

In [ ]:
num = int(input("Ingresa el numero: "))
print(num + 1)

Ingresa el numero: 4
5

# Operaciones Matematicas

In [ ]:
# 4to nivel de importancia
# Suma Ordinaria
print("-------------------")
print("Suma Ordinaria")
print(3 + 4) # un 7

# Declaración de variables
variable1 = 20
variable2 = 40
print(variable1 + variable2)

# Resta Ordinaria
print("-------------------")
print("Resta Ordinaria")
print(2 - 5)

# Declaración de variables
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) # 4.6

-------------------
Suma Ordinaria
7
60
-------------------
Resta Ordinaria
-3
4.6

In [ ]:
# 3er Nivel de Importancia
# Multiplicación Ordinaria
print("Multiplicación Ordinaria")
M1, M2 = 2,3.14
print(M1 * M2) #6.25

# Divisón Ordinaria
print("-------------------")
print("División Ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)

# Division de Piso
print("-------------------")
print("División de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

Multiplicación Ordinaria
6.28
-------------------
División Ordinaria
0.4
1.2
0.8
-------------------
División de Piso
0
1
0

In [ ]:
# Potencias
print("Potencias")
print(2 ** 3) # es 8

# Declaración de Variables
P1,P2 = 7,2
print(P1 ** P2) # es 49

Potencias
8
49

In [ ]:
# Area de un circulo
print("Area de un Circulo")
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

-------------------
Area de un Circulo
50.24

# Operaciones de String

In [ ]:
print("Strings")
HM = "Hola Mundo"
print(HM)

#Suma de Strings
print("----------------")
print("Suma de Strings")
a,b = "ta", "co"
print(a + b)

Strings
Hola Mundo
----------------
Suma de Strings
taco

In [ ]:
# Animal, debe de tener un nombre, le debe de gustar una fruta, debe de tener una profesión
Animal = "Gato"
Nombre = "Tornillo"
Fruta = "Manzana"
Profesión = "Ingeniero"
print(f"Hola soy {Nombre} soy un {Animal} que me gustan las {Fruta} y trabajo como {Profesión}")

Hola soy Tornillo soy un Gato que me gustan las Manzana y trabajo como Ingeniero

# Operaciones Booleanas

In [ ]:
# Empezamos con los operadores logicos <,> , <=, >=, and, or (SIEMPRE RETORNA UN BOOLEANO)

In [ ]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14>14
b4 = 14>=14

print(b1)
print(b2)
print(b3)
print(b4)

False
True
False
True

In [ ]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [ ]:
print(True * 20)
print(False * 10)

20
0