# Diciembre 10

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

## Estructuras de Datos
Las estructuras de datos son formas de organizar informacipón para trabajar con ellas de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicación
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:
- Pilas (FILO -> First In, Last Out)
- Colas (FIFO -> First In, First Out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son condiciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [58]:
lista_de_compras = ["manazas", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
print(lista_de_compras)

['manazas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [59]:
print(lista_de_compras[4])

mantequilla

In [60]:
# Agregar un elemento a la lista de compras
lista_de_compras.append("sopa")
lista_de_compras

['manazas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [61]:
lista_de_compras.insert(1, "platano")
lista_de_compras

['manazas',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [62]:
print(lista_de_compras)

['manazas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [63]:
# Para eliminar un elemento de una lista, existe el remove y el pop
lista_de_compras.remove("sopa")
lista_de_compras.remove("platano")
print(lista_de_compras)

['manazas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [64]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elento
lista_de_compras.pop(2) # o puedes agarrar la posición que quiera (iniciando desde 0)

# Nota: Te retorna el numero eliminado

'leche'

In [65]:
# Podemos recorrer el arrgelo por medio de un "for"
for elementos in lista_de_compras:
  print(elementos)

manazas
pan
huevos
mantequilla
queso

In [66]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

5
1 - manazas
2 - pan
3 - huevos
4 - mantequilla
5 - queso

In [67]:
promedios = [55.6,97.5,23.6,97.5,72.2,100]
print(promedios)
promedios.sort() # sort() ordena un set de valores de manera ascendente
print(promedios)

# Ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.2, 100]
[23.6, 55.6, 72.2, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.2, 55.6, 23.6]

In [68]:
# Podemos ingresar al utlimo elemento de la lista
print(promedios[-1])

23.6

In [69]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [70]:
# Declaración y usos de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Calificación {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
 Calificación 1: 100
 Calificación 2: 88
 Calificación 3: 93

Alumno 2
 Calificación 1: 99
 Calificación 2: 56
 Calificación 3: 72

## Tuplas
Colecciones ordenadas pero inmutables.

In [71]:
# Programa para guardar fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05","25/03/06","28/10/06","23/05/04")
fechas

('10/10/05', '25/03/06', '28/10/06', '23/05/04')

In [72]:
# ES INMUTABLE
fechas.append("10/06/05")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) # Aqui ya se pueden usar los comandos basicos de una lista

## Sets
Los sets son colecciones SIN ORDEN y que NO permiten elementos duplicados

In [81]:
nombre = {"Adrián", "Alex", "Santiago", "Emmanuel", "Emmanuel"}
print(nombre)
print(type(nombre))

{'Alex', 'Santiago', 'Emmanuel', 'Adrián'}
<class 'set'>

In [83]:
distintos_datos = {"Alex", 1, "Santiago", "Emmanuel", "Emmanuel", 4.8}
distintos_datos

{1, 4.8, 'Alex', 'Emmanuel', 'Santiago'}

In [84]:
# Add
nombre.add("Gael")
nombre

{'Adrián', 'Alex', 'Emmanuel', 'Gael', 'Santiago'}

In [85]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [86]:
nombre[2] = "Hugo"

TypeError: 'set' object does not support item assignment

In [90]:
# Union
matutino = {2111735,244458,111111,4568887}
vespertino = {2111735,2123443,3687467,4568887}

# Union pero con punto .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)

# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{111111, 244458, 3687467, 4568887, 2123443, 2111735}
{111111, 244458, 3687467, 4568887, 2123443, 2111735}

In [91]:
# Intersección
ca = {2111735,244458,111111,4568887}
al = {2111735,111111}

# Intersección con .intersection()
ca_al = ca.intersection(al)
print(ca_al)

# Intersección usando &
ca_al = ca & al
print(ca_al)

{2111735, 111111}
{2111735, 111111}

In [93]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)

# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{244458, 4568887}
{244458, 4568887}

In [106]:
nombre = {"Adrián", "Alex", "Santiago", "Emmanuel", "Emmanuel"}
# remove, pop
nombre.remove("Santiago") # Deber seleccionar el que tu quieras eliminar
print(nombre)
nombre.pop()
print(nombre)

{'Alex', 'Emmanuel', 'Adrián'}
{'Emmanuel', 'Adrián'}

In [99]:
# Elimninar todo el SET
nombre.clear()
nombre

## Diccionarios
Son colecciones no ordenadas de pares clave:valor

In [8]:
alumno = {
    #clave    valor
    "nombre": "Adrián Noriega Solís",
    "edad": 19,
    "carrera": "Ingenieria Biomedica",
    "semestre": 6,
    "promedio": 85,
    "calificaciones": [89,100, 72, 71, 86]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Adrián Noriega Solís',
 'edad': 19,
 'carrera': 'Ingenieria Biomedica',
 'semestre': 6,
 'promedio': 85,
 'calificaciones': [89, 100, 72, 71, 86]}

In [9]:
print("El alumno ", alumno["nombre"], " esta estudiando ", alumno["carrera"])

El alumno  Adrián Noriega Solís  esta estudiando  Ingenieria Biomedica

In [10]:
# Agregar al diccionario
alumno["area preferida"] = "Mecanica"
alumno

{'nombre': 'Adrián Noriega Solís',
 'edad': 19,
 'carrera': 'Ingenieria Biomedica',
 'semestre': 6,
 'promedio': 85,
 'calificaciones': [89, 100, 72, 71, 86],
 'area preferida': 'Mecanica'}

In [11]:
for valor in alumno:
  print(alumno[valor])

Adrián Noriega Solís
19
Ingenieria Biomedica
6
85
[89, 100, 72, 71, 86]
Mecanica

In [12]:
for clave, valor in alumno.items(): # devuelve una vista de todos los pares clave:valor del diccionario
  print(clave, ": ", valor)

nombre :  Adrián Noriega Solís
edad :  19
carrera :  Ingenieria Biomedica
semestre :  6
promedio :  85
calificaciones :  [89, 100, 72, 71, 86]
area preferida :  Mecanica

In [120]:
# El metodo .clean() tambien usar aqui
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Adrián Noriega Solís

In [122]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)

dict_items([('nombre', 'Adrián Noriega Solís'), ('edad', 19), ('carrera', 'Ingenieria Biomedica'), ('semestre', 6), ('promedio', 85), ('calificaciones', [89, 100, 72, 71, 86]), ('area profesional', 'Ingenieria / Medica'), ('area preferida', 'Mecanica')])
<class 'dict_items'>

In [13]:
# El metodo .values() sirve para obtener los values del diccionario
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Adrián Noriega Solís', 19, 'Ingenieria Biomedica', 6, 85, [89, 100, 72, 71, 86], 'Mecanica'])

In [130]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Aluno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [16]:
# .copy() puedes copiar todo el diccionario en una sola variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre":7})
alumno

{'nombre': 'Adrián Noriega Solís',
 'edad': 19,
 'carrera': 'Ingenieria Biomedica',
 'semestre': 7,
 'promedio': 85,
 'calificaciones': [89, 100, 72, 71, 86],
 'area preferida': 'Mecanica'}